.Header {
  grid-row: span 1;
  grid-column: 2 / 6;
  margin-left: 5px;
  margin-bottom: -1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);


  &__redachin { 
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;
    color: #6e6e6e;
    // border: 1px solid red;

    &__delet {
      cursor: pointer;
      color: #ca4747;

      &:hover {
        color: #ca4747b4;
      }
    }

    &__dArchive{
      cursor: pointer;

      &:hover {
      color: #9c9999;
      border-bottom: 1px solid #9c9999;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;
    color: #6e6e6e;
    // border: 1px solid red;

    &__arf {
      cursor: pointer;
      color: #db8c43;

      &:hover {
        color: #db924e98;
      }
    }

    &__Archive {
      cursor: pointer;

      &:hover {
        color: #9c9999;
        border-bottom: 1px solid #9c9999;
      }
    }
  }

  &__searh {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    // border: 1px solid red;

    &__rh {
      grid-row: span 2;
      grid-column: 3 / 6;
      padding: 3%;
      text-align: right;
      cursor: pointer;
      color: #c9874b;
      border: 1px solid #c9874b;

      &:hover {
        background-color: #db924e98;
        color: white;
      }
    }
  }
}